@media only screen and (max-width: 767px) {

  .landpage-page-3{
    .overlay-page-3{
     
       .container{
      
        p{
        width: 400px;
        margin-left: 80px;
      }}
    }} 
  .landpage-page-4{
    .overlay-page-4{
      .container{
     
    form{
      zoom: 85%;
      margin-left: 15%;
    }
      }
    }
  }
 
         .menu-icon {
    
    display: block;
    
  }

  .header{  
    top: 10%;
  .circle-shape {
   margin-right: 320px;
  }   
}

.landpage-page-project_info{ 
 
  
  .overlay-page-project_info{
   
    .container{
  
   .img{
     width: 350px;
     height: 400px;
     background-color: blue;
   }

  }
}
 }


}


@media only screen and (min-width: 768px) {
  .menu-samll-page{ 
   visibility: hidden;
  }

}
 


    
